body {
    font-family: Arial, sans-serif;
background: linear-gradient(to right, #74ebd5, #9face6);
    margin: 0;
    padding: 0;
    text-align: center;
}
img {
    margin-top: 20px;
    border-radius: 10px;
}
h2 {
    color: #333;
    margin-bottom: 20px;
}
form {
    background: white;
    width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    text-align: left;
}
label {
    font-weight: bold;
    color: #444;
}
input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}
