ody {
    font-family: Arial;
    margin: 0;
    background: linear-gradient(to right, #74ebd5, #9face6);
}
av {
    background: #333;
    padding: 10px;
    text-align: center;
}
nav button {
    color: white;
    background: none;
    border: none;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}
nav button:hover {
    text-decoration: underline;
}
.page {
    display: none;
    padding: 20px;
}
.active {
    display: block;
}
.home-box {
    text-align: center;
    color: white;
}
.container {
    background: white;
    width: 450px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}
.form-table {
    width: 100%;
    border-collapse: collapse;
}
